.container-img {
    background-image: url('../img/fondo-azul.jpg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.container-title {
    background-image: url('../img/squared-word.png');
    min-height: 300px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52%;
}

.home-main-text {
    justify-content: center;
    display: flex;
    font-size: 39px;
    color: white;
    text-shadow: 2px 4px 7px #121212;
  }
    
.button-style {
    background-color: rgb(255, 0, 230);
    border: none;
    border-radius: 15px;
    padding: 30px 60px;
    border: none;
    cursor: pointer;
    animation: parpadeo 2s infinite;
    text-decoration: none;
    color: #fcfaff;
    text-transform: uppercase;
  }
  
  @keyframes parpadeo {
    30% {
      background-color: rgba(11, 176, 253, 0.646);
    }
    70% {
      background-color: rgb(254, 106, 40);
    }
    100% {
      background-color: rgb(255, 0, 230);
    }
}

.container-button {
    margin-top: 90px;
}

